%form.navbar-form.navbar-left{:role => "search", :action => "/search", :method => "post"}
  %div.form-group
    %input.form-control.input-wide{:type => "text", :placeholder => (@search ? @search.query : "Search"), :name => "search[query]"}
  %button.btn.btn-default{:type => "submit"}
    %span.glyphicon.glyphicon-search
