<h1>Search</h1>
<form action="/search" method="post">
  <label for="query">Query:</label><br />
  <input id="query" name="search[query]" type="text" value="" />
  <br />

  <label for="lang">Lang:</label><br />
  <input id="lang" name="search[lang]" type="text" value="fr" />
  <br />

  <input type="submit" value="Search" />
</form>

<% if @results && @results.any? %>
	<table>
	<th></th>
	<% @results.each do |result| %>
		<tr>
			<td><%= result['title'] %></td>
			<td><%= "http://youtube.com/watch?v=#{result['video_id']}" %></td>
		</tr>
	<% end %>
	</table>
<% end %>
